*.iml
.gradle/
.kotlin/
.idea/
local.properties
.DS_Store
Thumbs.db
build/
**/build/
.externalNativeBuild/
.cxx/
*.jks
*.keystore
*.hprof
google-services.json
**/google-services.json
captures/

build-out.txt
